.movie-poster-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  width: 100%;
  /* padding-inline: 20px; */
}

.movie-poster {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    transition: 1s;
    cursor: pointer;
}

.home-container {
  background-color: #00081d;
  color: white;
}

.movie-card {
  position: relative;
  animation: initial-animation 1s ease-in-out;
  transition: 1s;
  width: 18%;
  /* height: 400px; */
}

.movie-card:hover {
  transform: scale(1.2);
  background-blend-mode: darken;
}

@keyframes initial-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.home-container {
  height: 100vh;
  margin-top: 500px;
}

.home-container video {
  position: absolute;
  z-index: -1;
  height: 100vh;
  max-width: 100%;
  top: 0;
  left: 0;
}

.button-container {
  z-index: 2;
  position: relative;
  bottom: 15rem;
  margin-left: 2rem;
}

.play-container {
  display: flex;
  gap: 2rem;
  border: none;
}

.buttonscont {
  padding: 10px;
  width: 6rem;
  border-radius: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* .home-container img {
  position: absolute;
  height: 50%;
} */

.home-container p {
  position: absolute;
  font-size: 13px;
  margin-top: 5rem;
  font-weight: bold;
}

.home-container h6 {
  color: green;
  position: absolute;
  font-weight: bold;
  visibility: hidden;
}

.home-container:hover h6 {
  display: flex;
  color: green;
  visibility: visible;
}

.home-container:hover p {
  display: flex;
  visibility: visible;
}

.home-container p {
  visibility: hidden;
}
