/* Add this CSS to your Movie.css or a separate stylesheet */
.similar-movie-container {
  margin: 20px 0;
  margin-top: 40%;
}

.similar-movie-poster {
  /* background: #141414;
  border: 1px solid #333; */
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.similar-movie-card {
  margin: 10px;
  display: inline-block;
  animation: initial-animation 1s ease-in-out;
  transition: 1s;
  width: 300px;
}
.similar-movie-card:hover {
  transform: scale(1.2);
  background-blend-mode: darken;
}

@keyframes initial-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.similar-movie-card h2 {
  font-size: 16px;
  font-weight: bold;
}

.similar-movie-card p {
  font-size: 14px;
  line-height: 1.3;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Adjust the styles as needed to achieve the exact look you want. */



.teaser-video{
    width: '100%';
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-container{
  height: 100vh;
}
.movie-container iframe {
    position: absolute;
    z-index: -1;
    height: 100vh;
    top: 0;
    left: 0;
}